/* Stylingthe last h2 tag by giving margin bottom */
.progress-bar-container:not(:last-child) {
  margin-bottom: 50px;
}

/* Styling the border and box
effect of the progress bar*/
.progress-bar {
  width: 800px;
  height: 5px;
  border: 1px solid #565656;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(245, 159, 0);
}

/* Stylingthe background color of each
animation and border radius */
.percentage {
  display: block;
  height: 100%;
  background-color: #ffbf00;
  border-radius: 5px;
  animation: progress 1500ms ease-in 1;
}
.html {
  width: 90%;
}
.css {
  width: 70%;
}
.js {
  width: 80%;
}
.ruby {
  width: 60%;
}
/* Animating the progress bar by initially starting from 0*/
@keyframes progress {
  from {
    width: 0;
  }
}

